.DS_Store
__MACOSX/
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xcscmblueprint

# Custom project ignores
temp_resources/

# Xcode & OS general ignores
*.hmap
*.ipa
*.app
*.dSYM
*.dSYM.zip
.idea/
